<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>사용자 관리</title>
</head>
<body>
 	<div layout:fragment="page_content" id="page_content">
 		<div class="container">
 			<div class="row mt-4">
 				<div class="col-md-6">
 					<h3>사용자 관리</h3>
 				</div>
 				<div class="col-md-6 text-right">
 					<div class="btn-group">
 						<a th:href="@{'/members/new'}" class="btn btn-primary">사용자 추가</a>
 					</div>
 				</div>
 			</div>
 			<div class="row pt-4">
 				<div class="col">
 					<table class="table table-bordered">
 						<thead class="thead-dark">
							<tr>
								<th scope="col">계정</th>
								<th scope="col">사용여부</th>
								<th scope="col">권한</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="member : ${members}">
								<tr>
									<td><span th:text="${member.username}">계정</span></td>
									<td>
										<span th:if="${member.enable == 1}" th:text="사용">사용여부</span>
										<span th:if="${member.enable == 0}" th:text="사용안함">사용여부</span>
									</td>
									<td>
										<th:block th:each="authority, iterStat : ${member.roles}">
											<th:block th:text="${authority.authority + (iterStat.last?'':',')}"></th:block>
										</th:block>
									</td>
									
								</tr>
							</th:block>
						</tbody>	
 					</table>
 				</div>
 			</div>
 		</div>
 	</div>
</body>
</html>