<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head>
<title>제품 상세</title>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
		<div class="container">
			<div class="row my-4">
				<div class="col-md-12">
					<h3>제품 상세보기</h3>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-md-6">
					<h5>
						<span th:text="${category.name}">제품 이름</span>
						<a th:href="|/post/new?categoryId=${category.id}" class="btn btn-primary ml-5">파일 등록하기</a>
					</h5>
				</div>
				<div class="col-md-6 text-right">
					<div class="btn-group">
						<a href="#" class="btn btn-outline-danger">삭제된 파일 목록</a>
						<a th:href="|/category/edit/${category.id}" class="btn btn-outline-primary">카테고리 수정</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>	
								<th scope="col">
									버전
								</th>
								<th scope="col">
									파일명
								</th>
								<th scope="col">
									상세설명
								</th>
								<th scope="col">
									베타여부
								</th>
								<th scope="col">
									사용여부
								</th>
								<th scope="col">
									
								</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="post : ${category.posts}" >
								<tr>
									<td>
										<span th:text="${post.ver}">*.*.*</span>
									</td>
									<td>
										<span th:text="${#strings.substringAfter(post.Name,'_')}">이름</span>
									</td>
									<td>
										<span th:text="${post.content}">상세설명</span>
									</td>
									<td>
										<span th:text="베타" th:if="${post.distinction.equals('B')}">베타</span>
										<span th:text="정식" th:if="${post.distinction.equals('M')}">정식</span>
									</td>
									<td>
										<span th:text="사용" th:if="${post.activated.equals('Y')}"></span>
										<span th:text="사용안함" th:if="${post.activated.equals('N')}">사용안함</span>
									</td>
									<td>
										<div class="btn-group">
											<a th:href="|/post/edit/${post.id}"  class="btn btn-warning">수정</a>
											<a href="#" class="btn btn-danger">삭제</a>
										</div>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>