<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base}">
	<head>
		<title>test 1</title>
		<link href="css/logincss.css" rel="stylesheet">
	</head>
	
	<div layout:fragment="page_content" id="page_content">
		<div class="container">
			<div class="row pt-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5>
								로그인
							</h5>
							<h6 class="card-subtitle mb-2 text-muted">ID, Password를 입력하세요</h6>
							<form class="form-signin" method ="POST">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							 	<div class="form-group">
									<label for="id" class="sr-only">ID</label>
									<input class="form-control" id ="uid" type="text" name ="username"placeholder="Enter ID" required autofocus/>
							 	</div>
							 	<div class="form-group">
								    <label for="password" class="sr-only">Password</label>	
									<input id ="password" type="password" name ="password"  class="form-control" placeholder="Password" required/>
								</div>
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" value="remember-me">
									<label class="form-check-label">기억하기</label>
								</div>
								<input id="btn-Yes" class="btn btn-lg btn-primary btn-block" type="submit" value="로그인"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>